<!DOCTYPE html>
<html>
<head>
  <title>Show Details</title>
  <title>Register | Node.js | Tutorial | Learning</title>
  <link rel="icon" href="image/docico.ico"/>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link rel = 'stylesheet' type = 'text/css' href = 'css/sty1.css' />
  <script type="text/javascript" src="js/show.js"></script>
</head>
<body>
  <div class = 'navbar'>
    <a href = '/'><img src = "image/logo.png" /></a>
    <ul class = 'barier'>
      <ls><a class = 'ls' href = '/'>Home</a></ls>
      <ls><a class = 'ls' href = '/search'>Search</a></ls>
      <ls><a class = 'ls' href = '/view'>View</a></ls>
      <ls><a class = 'ls' href = '/register'>Register</a></ls>
    </ul>
  </div>
  <div id = 'Show' style = 'text-align : center;'>
    <center>
      <table style = 'width : 60%' >
       <tr>
         <th>Employee ID</th>
         <th>Name</th>
         <th>Email</th>
         <th>Contact</th>
         <th>Date</th>
         </tr>
        <% for(var i=0; i<= result.length - 1; i++) { %>
         <tr>
         <td><%=result[i].ID %></td>
         <td><%=result[i].Name %></td>
         <td><%=result[i].Email %></td>
         <td><%=result[i].Contact %></td>
         <td><%=result[i].Date %></td>
       </tr>
       <% } %>
     </table>
    </center>

  </div>
</body>
</html>
