<!DOCTYPE html>
<html>
<head>
  <title>Show Details</title>
  <link rel = 'stylesheet' type = 'text/css' href = 'css/sty1.css' />
  <script type="text/javascript" src="js/show.js"></script>
</head>
<body>
  <div class = 'navbar'>
    <a href = ''><img src = "image/logo.png" /></a>
    <ul class = 'barier'>
      <ls><a class = 'ls' href = ''>Home</a></ls>
      <is><a class = 'ls' href = 'search'>Search</a></is>
      <is><a class = 'ls' href = 'about'>About</a></is>
      <ls><a class = 'ls' href = 'register'>Register</a></ls>
    </ul>
  </div>
  <div id = 'Show' style = 'text-align : center;'>
       <table >
          <tr>
            <th>Employee ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Contact</th>
            <th>Date</th>
         <% for(var i=0; i<= result.length - 1; i++) { %>
          </tr>
          <td><%=result[i].ID %></td>
          <td><%=result[i].Name %></td>
          <td><%=result[i].Email %></td>
          <td><%=result[i].Contact %></td>
          <td><%=result[i].Date %></td>
        </tr>
        <% } %>
      </table>
  </div>
</body>
</html>
